auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*@nextjs/swc-*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shamefully-hoist=false
node-linker=isolated